@keyframes levitate {
  0% {
    transform: translateY(-14px) rotate(6deg);
    box-shadow: 6px 8px 5px 0px rgba(0,0,0,1);
  }
  100% {
    transform: translateY(7px) rotate(6deg);
    box-shadow: 9px 11px 10px 0px rgba(0,0,0,1);
  }
}

@keyframes levitate-alternate {
  0% {
    transform: translateY(-14px) rotate(-6deg);
    box-shadow: -6px 8px 5px 0px rgba(0,0,0,1);
  }
  100% {
    transform: translateY(7px) rotate(-6deg);
    box-shadow: -9px 11px 10px 0px rgba(0,0,0,1);
  }
}
