@font-face {
  font-family: 'SuperMario';
  src: url('../fonts/supermario256.ttf') format('truetype'); /* Safari, Android, iOS */
  src: url('../fonts/supermario256.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('../fonts/supermario256.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'System';
  src: url('../fonts/vgasys.ttf') format('truetype'); /* Safari, Android, iOS */
  src: url('../fonts/vgasys.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('../fonts/vgasys.woff') format('woff'); /* Pretty Modern Browsers */
}

html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: $fontSize;
  background-color: $primaryColor;
  height: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

#main {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

#warning-message {
  display: none;
}
