.outline {
  position: relative;
  display: grid;
  grid-column: 1 / -1;
  background-color: #fc1683;
  background-image: url('./../images/svg/topography.svg');

  &__title {
    margin-top: 2rem;
    font-family: 'SuperMario', 'System', 'Roboto', 'sans-serif';
    font-size: 1.3rem;
    padding: 0 1.5rem;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 1.7rem;
      padding: 0 2rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }

  &__notebook {
    position: relative;
    margin-top: 2rem;
    padding: 2rem 15%;
    background-color: white;
    color: darken($primaryColor, 7%);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 13rem;
    border-radius: 4px;

    &__prev, &__next {
      position: absolute;
      top: 38%;
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    &__prev {
      left: 16px;
      background-image: url('./../images/icons/chevron-left.svg');
      background-position-x: -1px;
    }
    &__next {
      right: 16px;
      background-image: url('./../images/icons/chevron-right.svg');
      background-position-x: 1px;
    }

    &__card {
      h3 {
        span {
          margin-left: -1rem;
          font-size: 1.6rem;
          color: $secondaryColor;
        }
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
  }
}
