.outline {
  z-index: 1;
  position: relative;
  display: grid;
  grid-column: 1 / -1;

  &__pricing__wrapper {
    background-color: #fc1683;
    background-image: url('./../images/svg/topography.svg');
  }

  &__title {
    transition: all .6s ease;
    margin-top: 2rem;
    font-family: 'SuperMario', 'System', 'Roboto', 'sans-serif';
    font-size: 1.3rem;
    padding: 0 1.5rem;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 1.7rem;
      padding: 0 2rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }

  &__cards {
    display: none;
    transition: all .8s ease-in-out;
    position: relative;
    margin-top: 2rem;
    padding: 2rem 15%;
    background-color: white;
    color: darken($primaryColor, 7%);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 13rem;
    border-radius: 4px;

    @include desktop {
      display: block;
    }

    &__prev, &__next {
      position: absolute;
      top: 0;
      height: 100%;
      width: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &__button {
        width: 20px;
        height: 20px;
        margin-top: -1rem;
        background-repeat: no-repeat;
        background-size: contain;

        @include tablet {
          width: 33px;
          height: 33px;
        }
        @include desktop {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__prev {
      left: 0;

      &__button {
        background-image: url('./../images/icons/chevron-left.svg');
      }
    }

    &__next {
      right: 0;

      &__button {
        background-image: url('./../images/icons/chevron-right.svg');
      }
    }

    &__card {
      h3 {
        text-align: center;
        span {
          margin-left: -1rem;
          font-size: .9rem;
          color: $secondaryColor;
          @include tablet {
            font-size: 1.3rem;
          }
          @include desktop {
            font-size: 1.6rem;
          }
        }
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        @include tablet {
          font-size: 1.4rem;
        }
        @include desktop {
          font-size: 2rem;
        }
      }

      p {
        font-size: .9rem;
        line-height: 1.3rem;
        @include tablet {
          font-size: 1.1rem;
          line-height: 1.4rem;
        }
        @include desktop {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
      }
    }
  }

  &__swipeable__cards {
    display: block;
    background: tomato;
    transition: all .8s ease-in-out;
    position: relative;
    margin-top: 2rem;
    color: darken($primaryColor, 7%);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30rem;
    border-radius: 4px;
    z-index: 1;


    @include desktop {
      display: none;
    }

    &__item {
      position: absolute;
      opacity: 1;
      padding: 2rem 15%;
      border-radius: 4px;
      border-top: 1.4px solid lightgray;
      background-color: white;

      &:hover {
        cursor: -webkit-grab;
      }
      &:active {
        cursor: -webkit-grabbing;
      }

      h3 {
        text-align: center;
        span {
          margin-left: -1rem;
          font-size: .9rem;
          color: $secondaryColor;
          @include tablet {
            font-size: 1.3rem;
          }
          @include desktop {
            font-size: 1.6rem;
          }
        }
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        @include tablet {
          font-size: 1.4rem;
        }
        @include desktop {
          font-size: 2rem;
        }
      }

      p {
        font-size: .9rem;
        line-height: 1.3rem;
        @include tablet {
          font-size: 1.1rem;
          line-height: 1.4rem;
        }
        @include desktop {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
      }

      &--1 {
        z-index: 3;
        margin-top: 1px;
      }
      &--2 {
        z-index: 2;
        margin-top: -1px;
      }
      &--3 {
        z-index: 1;
        margin-top: -3px;
      }
    }
  }
}
